:root {
    --text-color-title: #F1A208;
    --text-color-body: #FFD26B;
    /* --background-color-dark: #1e1e1e; */
    --background-color-dark: #202329;
    /* --background-color-dark-hover: #2c2c2c; */
    --background-color-dark-hover: #202329;

}

main {
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin-top: 0;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: auto;
}

body {
    line-height: 1;
    font-family: "Oxygen", sans-serif;
    background-color: var(--background-color-dark);
    /* color: #ffffff; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Pavanam", sans-serif;
    font-weight: 500;
    color: var(--text-color-title);
    text-align: center;
}

h2 {
    font-family: "Pavanam", sans-serif;
    font-weight: 500;
    margin: 0;
    display: inline;
    color: var(--text-color-title);
}

h3 {
    font-family: "Pavanam", sans-serif;
    font-weight: 500;
    margin: 0;
    display: inline;
    color: var(--text-color-title);
}

h4 {
    font-family: "Pavanam", sans-serif;
    font-weight: 500;
    margin: 0;
    display: inline;
    color: var(--text-color-title);
}

h6,
h7 {
    color: var(--text-color-title);
}

p {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    /* color: var(--text-color-body); */
}

ol {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    line-height: 1em;
    /* color: var(--text-color-body); */
}

li {
    line-height: 1.5em;
    /* color: var(--text-color-body); */
}

/* ====== NavBar Start ====== */

.navbar {
    background-color: var(--background-color-dark) !important;
}


.nav-link {
    color: var(--text-color-title) !important;
}

/* ====== NavBar End ====== */

/* ====== Collapsible Content Start====== */

.accordion {
    max-width: auto;
    text-align: left;
    padding: 1em 1em 1em 1em;

}

.accordion-button:after {
    background-image: url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23F1A208' stroke-linecap='round' stroke-linejoin='round' %3e%3cpath d='M2 5L8 11L14 5' /%3e%3c/svg%3e") !important;
}

.accordion-body,
.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: var(--background-color-dark-hover);
    outline: none !important;
    box-shadow: none !important;
}

/* ====== Collapsible Content End ====== */

.accordion-button {
    background-color: var(--background-color-dark);
}

.accordion-border-color {
    color: red;
}

.accordion-button:not(.collapsed) {
    background-color: var(--background-color-dark-hover);
}


/* ====== Main Content  ====== */

.home_content {
    max-width: auto;
    text-align: left;
    padding: 1em 1em 1em 1em;
}

.notebook {
    width: 100%;
}

/* ====== Color Picker ====== */

.color-box {
    height: 75vh;
    background-color: var(--background-color-dark);
    color: white;
    transition-property: background-color;
    transition-duration: 0.08s;
    text-align: center;
    padding-top: 20px;
}

.box-red {
    background-color: hsl(0, 65%, 35%);
}

.box-green {
    background-color: hsl(122, 52%, 28%);
}

.box-blue {
    background-color: hsl(215, 71%, 38%);
}

.box-magenta {
    background-color: hsl(303, 73%, 37%);
}

/* ====== Cards Start ======*/

.card-title {
    color: var(--text-color-title);
}

.card {
    margin-top: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.lead {
    color: var(--text-color-body);
}


/* .card {
    background: var(--background-color-dark-hover);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    transition: all 400ms ease;
    height: auto;
    gap: 1em;
    margin: 1em;
    flex-wrap: wrap;
    padding: 1.5em 1.5em 1.5em 1.5em;
    line-height: 1.5em;
}

@media (max-width: 1024px) {
    .card {
        grid-column: span 3;
        background: var(--background-color-dark-hover);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
        transition: all 400ms ease;
    }
} */

/* ====== Cards End ======*/

/* ====== Main Content End ====== */

/* ====== Footer Start ====== */

footer {
    padding-top: 3em;
    text-align: center;
    color: var(--text-color-title);
    /* margin-top: auto; */
    background-color: var(--background-color-dark-hover) !important;
}



.footer {
    font-family: "Oxygen", sans-serif;
    font-weight: 200;
    line-height: 1em;
    color: var(--text-color-title);
    background-color: var(--background-color-dark-hover) !important;
}

/* ====== Footer End ====== */

/* ====== Media Query ====== */
@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
/* ====== Media Query End ====== */